@model User

@{
    ViewData["Title"] = "Profile";
}

<div class="card card-body">
    <div class="row align-items-center">
        <div class="col-12">
            <div class="d-sm-flex align-items-center justify-space-between">
                <h4 class="fw-semibold fs-4 mb-4 mb-md-0 card-title">User Profile</h4>
                <nav aria-label="breadcrumb" class="ms-auto">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item d-flex align-items-center">
                            <a class="text-muted text-decoration-none d-flex" href="/">
                                <iconify-icon icon="solar:home-2-line-duotone" class="fs-6"></iconify-icon>
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <span class="badge fw-medium fs-2 bg-primary-subtle text-primary">
                                User Profile
                            </span>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="card overflow-hidden">
    <div class="card-body p-0">
        @if (string.IsNullOrEmpty(Model.Background))
        {
            <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/backgrounds/profilebg.jpg"
                alt="materialm-img" class="img-fluid">
        }
        else
        {
            <img src="/backgrounds/@Model.Background" alt="materialm-img" class="img-fluid">
        }
        <div class="row align-items-center">
            <div class="col-lg-4 order-lg-1 order-2">
                <div class="d-flex align-items-center justify-content-around m-4">
                    <div class="text-center">
                        <i class="ti ti-file-description fs-6 d-block mb-2"></i>
                        <h4 class="mb-0 fw-semibold lh-1">@Model.NumberOfPosts.ToString("N0")</h4>
                        <p class="mb-0 ">Posts</p>
                    </div>
                    <div class="text-center">
                        <i class="ti ti-user-circle fs-6 d-block mb-2"></i>
                        <h4 class="mb-0 fw-semibold lh-1">@Model.NumberOfFollowers.ToString("N0")</h4>
                        <p class="mb-0 ">Followers</p>
                    </div>
                    <div class="text-center">
                        <i class="ti ti-user-check fs-6 d-block mb-2"></i>
                        <h4 class="mb-0 fw-semibold lh-1">@Model.NumberOfFollowing.ToString("N0")</h4>
                        <p class="mb-0 ">Following</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-n3 order-lg-2 order-1">
                <div class="mt-n5">
                    <div class="d-flex align-items-center justify-content-center mb-2">
                        <div class="d-flex align-items-center justify-content-center round-110">
                            <div
                                class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden round-100">
                                @if (string.IsNullOrEmpty(Model.Avatar))
                                {
                                    <span
                                        class="avatar avatar-xl text-uppercase gradient-avatar w-100 h-100">@Model.FirstName?.ElementAt(0)</span>
                                }
                                else
                                {
                                    <img class="w-100 h-100" src="/avatars/@Model.Avatar" alt="@Model.Avatar" />
                                }
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h5 class="mb-0">@Model.FirstName @Model.LastName</h5>
                        <p class="mb-0">@Model.JobTitle</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-last">
                <ul
                    class="list-unstyled d-flex align-items-center justify-content-center justify-content-lg-end my-3 mx-4 pe-4 gap-3">
                    <li>
                        <a asp-area="Identity" asp-page="/Account/Manage/Index"
                            class="btn btn-primary text-nowrap">Account Management</a>
                    </li>
                </ul>
            </div>
        </div>
        <ul class="nav nav-pills user-profile-tab justify-content-end mt-2 bg-primary-subtle rounded-2 rounded-top-0"
            id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active hstack gap-2 rounded-0 fs-12 py-6" id="pills-profile-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab"
                    aria-controls="pills-profile" aria-selected="true">
                    <i class="ti ti-user-circle fs-5"></i>
                    <span class="d-none d-md-block">Profile</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link hstack gap-2 rounded-0 fs-12 py-6" id="pills-followers-tab"
                    data-bs-toggle="pill" data-bs-target="#pills-followers" type="button" role="tab"
                    aria-controls="pills-followers" aria-selected="false">
                    <i class="ti ti-heart fs-5"></i>
                    <span class="d-none d-md-block">Followers</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link hstack gap-2 rounded-0 fs-12 py-6" id="pills-friends-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-friends" type="button" role="tab" aria-controls="pills-friends"
                    aria-selected="false">
                    <i class="ti ti-user-circle fs-5"></i>
                    <span class="d-none d-md-block">Friends</span>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link hstack gap-2 rounded-0 fs-12 py-6" id="pills-gallery-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-gallery" type="button" role="tab" aria-controls="pills-gallery"
                    aria-selected="false">
                    <i class="ti ti-photo-plus fs-5"></i>
                    <span class="d-none d-md-block">Gallery</span>
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"
        tabindex="0">
        <div class="row">
            <div class="col-lg-4">
                <div class="card shadow-none border">
                    <div class="card-body">
                        <h4 class="mb-3">Introduction</h4>
                        <p class="card-subtitle">@Html.Raw(Model.Introduction)</p>
                        <div class="vstack gap-3 mt-4">
                            <div class="hstack gap-6">
                                <i class="ti ti-briefcase text-dark fs-6"></i>
                                <h6 class=" mb-0">@Model.Company</h6>
                            </div>
                            <div class="hstack gap-6">
                                <i class="ti ti-mail text-dark fs-6"></i>
                                <h6 class=" mb-0">@Model.Email</h6>
                            </div>
                            <div class="hstack gap-6">
                                <i class="ti ti-device-desktop text-dark fs-6"></i>
                                <h6 class=" mb-0">@Model.WebsiteUrl</h6>
                            </div>
                            <div class="hstack gap-6">
                                <i class="ti ti-map-pin text-dark fs-6"></i>
                                <h6 class=" mb-0">@Model.Address</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-none border">
                    <div class="card-body">
                        <h4 class="fw-semibold mb-3">Photos</h4>
                        <div class="row">
                            <div class="col-4">
                                <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-1.jpg"
                                    alt="materialm-img" class="rounded-1 img-fluid mb-9">
                            </div>
                            <div class="col-4">
                                <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-2.jpg"
                                    alt="materialm-img" class="rounded-1 img-fluid mb-9">
                            </div>
                            <div class="col-4">
                                <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-3.jpg"
                                    alt="materialm-img" class="rounded-1 img-fluid mb-9">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card shadow-none border">
                    <div class="card-body">
                        <div class="form-floating mb-3">
                            <textarea class="form-control h-140" placeholder="Leave a comment here"
                                id="floatingTextarea2"></textarea>
                            <label for="floatingTextarea2">Share your thoughts</label>
                        </div>
                        <div class="d-flex align-items-center gap-6 flex-wrap">
                            <a class="d-flex align-items-center round-32 justify-content-center btn btn-primary rounded-circle"
                                href="javascript:void(0)">
                                <i class="ti ti-photo"></i>
                            </a>
                            <a href="javascript:void(0)" class="text-dark link-primary pe-3 py-2">Photo / Video</a>

                            <a class="d-flex align-items-center round-32 justify-content-center btn btn-secondary rounded-circle"
                                href="javascript:void(0)">
                                <i class="ti ti-notebook"></i>
                            </a>
                            <a href="javascript:void(0)" class="text-dark link-secondary pe-3 py-2">Article</a>


                            <button class="btn btn-primary ms-auto">Post</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body border-bottom">
                        <div class="d-flex align-items-center gap-6 flex-wrap">
                            <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-1.jpg"
                                alt="materialm-img" class="rounded-circle" width="40" height="40">
                            <h6 class="mb-0">Jonathan Deo</h6>
                            <span class="fs-2 hstack gap-2">
                                <span class="round-10 text-bg-light rounded-circle d-inline-block"></span>
                                15 min
                                ago
                            </span>
                        </div>
                        <p class="text-dark my-3">
                            Nu kek vuzkibsu mooruno ejepogojo uzjon gag fa ezik disan he nah. Wij wo
                            pevhij tumbug rohsa
                            ahpi ujisapse lo vap labkez eddu suk.
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/products/s2.jpg"
                                    alt="materialm-img" class="img-fluid rounded-4 mb-3 mb-sm-0">
                            </div>
                            <div class="col-sm-6">
                                <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/products/s4.jpg"
                                    alt="materialm-img" class="img-fluid rounded-4">
                            </div>
                        </div>
                        <div class="d-flex align-items-center my-3">
                            <div class="d-flex align-items-center gap-2">
                                <a class="round-32 rounded-circle btn btn-primary p-0 hstack justify-content-center"
                                    href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-title="Like">
                                    <i class="ti ti-thumb-up"></i>
                                </a>
                                <span class="text-dark fw-semibold">67</span>
                            </div>
                            <div class="d-flex align-items-center gap-2 ms-4">
                                <a class="round-32 rounded-circle btn btn-secondary p-0 hstack justify-content-center"
                                    href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top"
                                    data-bs-title="Comment">
                                    <i class="ti ti-message-2"></i>
                                </a>
                                <span class="text-dark fw-semibold">2</span>
                            </div>
                            <a class="text-dark ms-auto d-flex align-items-center justify-content-center bg-transparent p-2 fs-4 rounded-circle"
                                href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top"
                                data-bs-title="Share">
                                <i class="ti ti-share"></i>
                            </a>
                        </div>
                        <div class="position-relative">
                            <div class="p-4 rounded-2 text-bg-light mb-3">
                                <div class="d-flex align-items-center gap-6 flex-wrap">
                                    <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-4.jpg"
                                        alt="materialm-img" class="rounded-circle" width="33" height="33">
                                    <h6 class="mb-0">Daisy Wilson</h6>
                                    <span class="fs-2">
                                        <span class="p-1 text-bg-muted rounded-circle d-inline-block"></span>
                                        5
                                        min
                                        ago
                                    </span>
                                </div>
                                <p class="my-3">
                                    Zumankeg ba lah lew ipep tino tugjekoj hosih fazjid wotmila
                                    durmuri buf hi sigapolu joit
                                    ebmi joge vo.
                                </p>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center gap-2">
                                        <a class="round-32 rounded-circle btn btn-primary p-0 hstack justify-content-center"
                                            href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Like">
                                            <i class="ti ti-thumb-up"></i>
                                        </a>
                                        <span class="text-dark fw-semibold">68</span>
                                    </div>
                                    <div class="d-flex align-items-center gap-2 ms-4">
                                        <a class="round-32 rounded-circle btn btn-secondary p-0 hstack justify-content-center"
                                            href="javascript:void(0)" data-bs-toggle="tooltip" data-bs-placement="top"
                                            data-bs-title="Reply">
                                            <i class="ti ti-arrow-back-up"></i>
                                        </a>
                                        <span class="text-dark fw-semibold">1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="p-4 rounded-2 text-bg-light ms-7">
                                <div class="d-flex align-items-center gap-6 flex-wrap">
                                    <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-5.jpg"
                                        alt="materialm-img" class="rounded-circle" width="40" height="40">
                                    <h6 class="mb-0">Carry minati</h6>
                                    <span class="fs-2">
                                        <span class="p-1 text-bg-muted rounded-circle d-inline-block"></span>
                                        just
                                        now
                                    </span>
                                </div>
                                <p class="my-3">
                                    Olte ni somvukab ugura ovaobeco hakgoc miha peztajo tawosu
                                    udbacas kismakin hi.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-6 flex-wrap p-3 flex-lg-nowrap">
                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-1.jpg"
                            alt="materialm-img" class="rounded-circle" width="33" height="33">
                        <input type="text" class="form-control py-8" id="exampleInputtext" aria-describedby="textHelp"
                            placeholder="Comment">
                        <button class="btn btn-primary">Comment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-followers" role="tabpanel" aria-labelledby="pills-followers-tab" tabindex="0">
        <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
            <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Followers <span
                    class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2">20</span>
            </h3>
            <form class="position-relative">
                <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh"
                    placeholder="Search Followers">
                <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y text-dark ms-3"></i>
            </form>
        </div>
        <div class="row">
            <div class=" col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-4 d-flex align-items-center gap-6 flex-wrap">
                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-1.jpg"
                            alt="materialm-img" class="rounded-circle" width="40" height="40">
                        <div>
                            <h5 class="fw-semibold mb-0">Betty Adams</h5>
                            <span class="fs-2 d-flex align-items-center">
                                <i class="ti ti-map-pin text-dark fs-3 me-1"></i>Sint Maarten
                            </span>
                        </div>
                        <button class="btn btn-outline-primary py-1 px-2 ms-auto">Follow</button>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-xl-4">
                <div class="card">
                    <div class="card-body p-4 d-flex align-items-center gap-6 flex-wrap">
                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-2.jpg"
                            alt="materialm-img" class="rounded-circle" width="40" height="40">
                        <div>
                            <h5 class="fw-semibold mb-0">Virginia Wong</h5>
                            <span class="fs-2 d-flex align-items-center">
                                <i class="ti ti-map-pin text-dark fs-3 me-1"></i>Tunisia
                            </span>
                        </div>
                        <button class="btn btn-outline-primary py-1 px-2 ms-auto">Follow</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab" tabindex="0">
        <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
            <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Friends <span
                    class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2">20</span>
            </h3>
            <form class="position-relative">
                <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh"
                    placeholder="Search Friends">
                <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y text-dark ms-3"></i>
            </form>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-1.jpg"
                            alt="materialm-img" class="rounded-circle mb-3" width="80" height="80">
                        <h5 class="fw-semibold mb-0">Betty Adams</h5>
                        <span class="text-dark fs-2">Medical Secretary</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                        <li class="position-relative">
                            <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold"
                                href="javascript:void(0)">
                                <i class="ti ti-brand-facebook"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold "
                                href="javascript:void(0)">
                                <i class="ti ti-brand-instagram"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold "
                                href="javascript:void(0)">
                                <i class="ti ti-brand-github"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold "
                                href="javascript:void(0)">
                                <i class="ti ti-brand-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="card hover-img">
                    <div class="card-body p-4 text-center border-bottom">
                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/profile/user-2.jpg"
                            alt="materialm-img" class="rounded-circle mb-3" width="80" height="80">
                        <h5 class="fw-semibold mb-0">Inez Lyons</h5>
                        <span class="text-dark fs-2">Medical Technician</span>
                    </div>
                    <ul class="px-2 py-2 bg-light list-unstyled d-flex align-items-center justify-content-center mb-0">
                        <li class="position-relative">
                            <a class="text-primary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold"
                                href="javascript:void(0)">
                                <i class="ti ti-brand-facebook"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-danger d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold "
                                href="javascript:void(0)">
                                <i class="ti ti-brand-instagram"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-info d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold "
                                href="javascript:void(0)">
                                <i class="ti ti-brand-github"></i>
                            </a>
                        </li>
                        <li class="position-relative">
                            <a class="text-secondary d-flex align-items-center justify-content-center p-2 fs-5 rounded-circle fw-semibold "
                                href="javascript:void(0)">
                                <i class="ti ti-brand-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-gallery" role="tabpanel" aria-labelledby="pills-gallery-tab" tabindex="0">
        <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
            <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Gallery <span
                    class="badge text-bg-secondary fs-2 rounded-4 py-1 px-2 ms-2">12</span>
            </h3>
            <form class="position-relative">
                <input type="text" class="form-control search-chat py-2 ps-5" id="text-srh"
                    placeholder="Search Friends">
                <i class="ti ti-search position-absolute top-50 start-0 translate-middle-y text-dark ms-3"></i>
            </form>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="card hover-img overflow-hidden rounded-2">
                    <div class="card-body p-0">
                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/products/s1.jpg"
                            alt="materialm-img" height="220" class="w-100 object-fit-cover">
                        <div class="p-4 d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="mb-0">Isuava wakceajo fe.jpg</h6>
                                <span class="text-dark fs-2">Wed, Dec 14, 2023</span>
                            </div>
                            <div class="dropdown">
                                <a class="text-muted fw-semibold d-flex align-items-center p-1"
                                    href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="ti ti-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu overflow-hidden">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">Isuava
                                            wakceajo fe.jpg</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card hover-img overflow-hidden rounded-2">
                    <div class="card-body p-0">
                        <img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/products/s2.jpg"
                            alt="materialm-img" height="220" class="w-100 object-fit-cover">
                        <div class="p-4 d-flex align-items-center justify-content-between">
                            <div>
                                <h6 class="mb-0">Ip docmowe vemremrif.jpg</h6>
                                <span class="text-dark fs-2">Wed, Dec 14, 2023</span>
                            </div>
                            <div class="dropdown">
                                <a class="text-muted fw-semibold d-flex align-items-center p-1"
                                    href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <i class="ti ti-dots-vertical"></i>
                                </a>
                                <ul class="dropdown-menu overflow-hidden">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0)">Ip
                                            docmowe vemremrif.jpg</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>